:root {
	--bg-main-color: rgb(230, 230, 230);
	--bg-post-color: rgb(214, 214, 214);
}

body {
	background-color: var(--bg-main-color);
	font-family: Roboto, Oxygen, sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	width: 70vw;
	border-radius: 20px;
	margin-top: 20%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: var(--bg-post-color);
}

ul {
	list-style: none;
	padding-left: 0;
}

li {
	display: inline;
	padding-right: 20px;

	&:focus,
	&:hover,
	&:visited,
	&:link,
	&:active {
		text-decoration: none;
	}
}

.visible {
	border: none;
	border-radius: 0.3rem;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	background-color: #d7ccc8;
	font-family: bold;
}
